$background-color: #F7F3E9;  
$secondary-color: #A6B1E1;
$primary-color: #4B4453;
$accent-color: #81B29A;
$text-shadow: rgba(0, 0, 0, 0.3);
$primary-font: 'Amatic SC', cursive;
$background-image: url('../assets/img/sfondo1.png');
$secondary-font: 'Quicksand', sans-serif;
$background-about:url('../assets/img/about.png');
