@import './variables';
@import './footer';
@import './navbar';

$primary-color: #F7F3E9; // Sfondo
$secondary-color: #4B4453; // Testo
$accent-color: #000000; // Titoli
$font-primary: "Bebas Neue", sans-serif; // Nuovo font per titoli
$font-secondary: "Lato", sans-serif; // Nuovo font per testo

body{
  background-color: $primary-color;
}

.cv-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $secondary-color;
  padding: 20px;
  margin-top: -50px;


  .cv-container {
    width: 90%; // Colonna larga per il contenuto su una riga
    max-width: 700px;
    overflow-x: auto;
    white-space: normal;
    text-align: center;
    

    h1 {
      font-family: $font-primary;
      font-size: 2rem;
      color: $accent-color;
      margin-bottom: 10px;
    }

    h2 {
      font-family: $font-primary;
      font-size: 1.4rem;
      margin: 20px 0 10px;
      color: $accent-color;
    }

    p,
    li {
      font-family: $font-secondary;
      font-size: 0.9rem;
      line-height: 1.2;
      margin-bottom: 8px;
      overflow: hidden; // Per evitare problemi di overflow

    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: $accent-color;
      text-decoration: underline;
      transition: color 0.3s;

      &:hover {
        color: lighten($accent-color, 10%);
      }
    }
  }

  @media (max-width: 768px) {
    .cv-container {
      font-size: 0.8rem;
    }
  }
}