@import './variables';
@import './footer';
@import './navbar';

body {
    background: $background-color;
    background-image: url('../img/sfondo1.png');
    background-size: 70%;
    background-position: bottom center; // Allinea l'immagine alla parte inferiore
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}

/* Media queries semplificate (stesso comportamento per tutti i dispositivi) */
@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (min-width: 1025px) {}

// Titolo
h1 {
    font-family: $primary-font;
    font-size: 3rem;
    color: $primary-color;
    text-align: center;
    margin-top: 5vh; // Sposta il titolo verticalmente
    text-shadow: 2px 2px 5px $text-shadow;

    &:hover {
        color: $accent-color; // Cambia colore al passaggio del mouse
        transform: scale(1.1); // Leggera espansione
        transition: all 0.3s ease-in-out;
    }

    // Animazione di comparsa
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-underline {
    text-decoration: none;
}

.subtitle {
    font-family: $secondary-font;
    font-size: 1.2rem;
    color: $primary-color;
    margin-bottom: 1rem;
    margin-top: 0; // Riduci il margine superiore del sottotitolo
    text-shadow: 1px 1px 3px $text-shadow;
}

.cta-button {
    font-family: $primary-font;
    font-size: 1.2rem;
    color: #fff;
    background-color: $accent-color;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 3rem; // Riduci il margine superiore del pulsante

    &:hover {
        background-color: darken($accent-color, 10%);
        transform: scale(1.05);
    }
}