@import './variables';
@import './footer';
@import './navbar';

body {
    background: $background-color;
    background-image: $background-image;
    background-size: 65%;
    background-position: bottom right; // Allinea l'immagine alla parte inferiore
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}

// Titolo
h1 {
    font-family: $primary-font;
    font-size: 5rem;
    color: $primary-color;
    text-align: center;
    margin-top: 5vh; // Sposta il titolo verticalmente
    text-shadow: 2px 2px 5px $text-shadow;

    &:hover {
        color: $accent-color; // Cambia colore al passaggio del mouse
        transform: scale(1.1); // Leggera espansione
        transition: all 0.3s ease-in-out;
    }

    // Animazione di comparsa
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-underline {
    text-decoration: none;
}

.subtitle {
    font-family: $secondary-font;
    font-size: 2rem;
    text-align: left;
    color: $primary-color;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px $text-shadow;
}

.button-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.cta-button {
    font-family: $primary-font;
    font-size: 1.5rem;
    color: #fff;
    background-color: $accent-color;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 2rem; // Riduci il margine superiore del pulsante
    width: auto;
    display: inline-block;

    &:hover {
        background-color: darken($accent-color, 10%);
        transform: scale(1.05);
    }
}


.citazione {
    font-family: $primary-font;
    font-size: 2rem;
    text-align: left;
    color: $primary-color;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-shadow: 1px 1px 3px $text-shadow;
}


@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        margin-top: 3vh; // Riduce lo spazio verticale
        transform: scale(1);
    }

    .subtitle {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .button-container {
        flex-direction: column; // Dispone i pulsanti in colonna
        align-items: center; // Centra i pulsanti
        gap: 1.5rem; // Riduce lo spazio tra i pulsanti
    }

    .cta-button {
        font-size: 1.3rem; // Leggermente più piccolo
        padding: 0.5rem 1.5rem; // Regola il padding per uno stile più compatto
        width: 80%; // Imposta una larghezza relativa per una visualizzazione uniforme
        max-width: 300px; // Limita la larghezza massima
        text-align: center;
    }

    .citazione {
        font-size: 1.6rem; // Uniforma la dimensione
        text-align: center; // Centra il testo
        margin-top: 2rem; // Riduce lo spazio verticale
        margin-bottom: 1rem;
        line-height: 1.5; // Migliora la leggibilità
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 3rem;
        margin-top: 3vh; // Riduce lo spazio verticale
        transform: scale(1);
    }

    .subtitle {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        line-height: 1.5;
    }

    .button-container {
        flex-direction: column; // Dispone i pulsanti in colonna
        align-items: center; // Centra i pulsanti
        gap: 0.5rem; // Riduce lo spazio tra i pulsanti
        margin-top: -1rem; // Fa salire i pulsanti rispetto al sottotitolo
    }

    .cta-button {
        font-size: 1.3rem; // Leggermente più piccolo
        padding: 0.5rem 1.5rem; // Regola il padding per uno stile più compatto
        width: 80%; // Imposta una larghezza relativa per una visualizzazione uniforme
        max-width: 300px; // Limita la larghezza massima
        text-align: center;
        margin-bottom: 0;
    }

    .citazione {
        font-size: 1.5rem; // Uniforma la dimensione
        text-align: center; // Centra il testo
        margin-top: 1.5rem; // Riduce lo spazio verticale
        margin-bottom: 3rem;
        line-height: 1.5; // Migliora la leggibilità
    }
}