@charset "UTF-8";
.navbar {
  background-color: transparent !important; /* Sfondo trasparente */
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Linea sottile grigia */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Ombreggiatura leggera */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%2381B29A' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Sostituisci '%2381B29A' con il colore accent in formato HEX, dove %23 è il simbolo # */
}

.navbar-toggler {
  border: none; /* Rimuove il bordo di default */
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000; /* Colore testo */
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.2s ease, letter-spacing 0.3s ease;
}
.nav-link:hover {
  color: #81B29A; /* Cambia colore su hover */
  transform: translateY(-2px);
  letter-spacing: 1px; /* Aumenta spaziatura su hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: column; /* Voci in colonna */
    text-align: center;
  }
}
.footer {
  background-color: rgba(75, 68, 83, 0.6); /* Trasparenza applicata con rgba */
  color: #F7F3E9;
  padding: 5px 0; /* Aumento della padding per dare più spazio */
  text-align: center;
  font-family: "Quicksand", sans-serif;
  position: fixed; /* Posizionamento fisso */
  bottom: 0; /* Posizionamento in basso */
  left: 0;
  width: 100%; /* Occupa tutta la larghezza */
  z-index: 10;
  display: flex;
  justify-content: center; /* Centra il contenuto */
  align-items: center; /* Centra verticalmente il contenuto */
}

.social-links {
  margin-top: 10px; /* Spazio tra il testo e i link */
}

.social-links a {
  margin: 0 10px; /* Distanza tra i link */
  color: #F7F3E9; /* Colore dei link */
  text-decoration: none;
}

.social-links a:hover {
  color: #81B29A; /* Colore al passaggio del mouse */
  transition: color 0.3s ease;
}

body {
  background: #F7F3E9;
  font-family: "Quicksand", sans-serif;
}

.contact-section {
  padding: 60px 0;
  background-color: #F7F3E9;
}
.contact-section h2 {
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
  color: #4B4453;
  margin-bottom: 20px;
  text-align: center;
}
.contact-section .contact-form {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.contact-section .contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.contact-section .contact-form input,
.contact-section .contact-form textarea {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #A6B1E1;
  display: block;
}
.contact-section .contact-form button {
  display: inline-block;
  margin-top: 15px;
  background-color: #81B29A;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.contact-section .contact-form button:hover {
  background-color: #619f81;
  transition: background-color 0.3s;
}/*# sourceMappingURL=contact.css.map */