@charset "UTF-8";
.footer {
  background-color: rgba(75, 68, 83, 0.6);
  color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  font-family: "Arial", sans-serif;
}

.social-links {
  margin-top: 10px;
  /* Spazio tra il testo e i link */
}

.social-links a {
  margin: 0 10px;
  /* Distanza tra i link */
  color: #F7F3E9;
  /* Colore dei link */
  text-decoration: none;
}

.social-links a:hover {
  color: #81B29A;
  /* Colore al passaggio del mouse */
  transition: color 0.3s ease;
}

.navbar {
  background-color: #F7F3E9;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.2s ease, letter-spacing 0.3s ease;
}
.nav-link:hover {
  color: #81B29A;
  transform: translateY(-2px);
  letter-spacing: 1px;
}

.nav-link.active {
  color: #81B29A; /* Mantiene il colore dell'accento */
  font-weight: bold; /* Distingue visivamente il link attivo */
  border-bottom: 2px solid #81B29A; /* Aggiunge una linea sotto il link attivo */
  cursor: default; /* Indica che il link è già attivo */
}

@media (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
body {
  background: #F7F3E9;
  background-image: url('../img/sfondo1.png');
  background-size: 65%;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  color: #4B4453;
  text-align: center;
  margin-top: 5vh;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease-in-out;
}
h1:hover {
  color: #81B29A;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.no-underline {
  text-decoration: none;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  text-align: left;
  color: #4B4453;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.cta-button {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  color: #fff;
  background-color: #81B29A;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 2rem;
  width: auto;
  display: inline-block;
}
.cta-button:hover {
  background-color: #619f81;
  transform: scale(1.05);
}

.citazione {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  text-align: left;
  color: #4B4453;
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-top: 3vh;
    transform: scale(1);
  }
  .subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .cta-button {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    width: 80%;
    max-width: 300px;
    text-align: center;
  }
  .citazione {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 2.3rem;
    margin-top: 3vh;
    transform: scale(1);
  }
  .subtitle {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: -1rem;
  }
  .cta-button {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    width: 80%;
    max-width: 300px;
    text-align: center;
    margin-bottom: 0;
  }
  .citazione {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    line-height: 1.5;
  }
}/*# sourceMappingURL=main.css.map */